<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.piratech.mapimap">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:label="PiratenMap"
            android:icon="@drawable/map" >

        <uses-library android:name="com.google.android.maps" />

        <activity android:name="de.piratech.mapimap.PirateMapView" android:label="PiratenMap Deutschland">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"></category>
                <action android:name="android.intent.action.MAIN"></action>
            </intent-filter>
       </activity>
   </application>
</manifest>
